body {
   padding: 0; 
   margin: 0;
}
/* Text */
i {
   height: 40px;
   width: 40px;
   font-size: 40px;
   position: absolute;
   right: 10px;
   top: 10px; 
   display: block;
   color: white;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   font-size: 100px;
   position: relative;
   z-index: 0;
   padding: 0;
   margin: 40px 0 0 0;
   line-height: 100px;
   letter-spacing: 10px;
   text-align: center;
   color: white;
}
h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   letter-spacing: 7.5px;
   text-align: center;
   line-height: 20px;
   
}
h3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 25px;
   letter-spacing: 2px;
   margin: 10px 10%;
   line-height: 2;
   
}
h4 {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-style: italic;
   letter-spacing: 1px;
   margin: 0 10%;
   
}
p {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   letter-spacing: .75px;
   margin: 0 10%;
}
button {
   margin: 10px 10%;
   height: 30px;
   width: 150px; 
   border-radius: 5px; 
   border: none;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}


/* Bars */

.barContainer {
   height: 170px;
   position: absolute;
   width: 100vw;
   top: 0;
   overflow: hidden;
}
.barContainer div {
   position: absolute;
   width: 10000px;
   margin: 0;
   height: 90px;
}

.barContainer div:nth-child(1) {
   z-index: -1;
   top: 80px;
   animation: AX1 15s ease infinite;
   animation: AY1 5s alternate ease infinite;
   background: linear-gradient(to right, rgba(231, 137, 91, 0.75), rgba(246, 126, 125, 0.75), rgba(231, 137, 91, 0.75));
}
.barContainer div:nth-child(2) {
   z-index: -2;
   top: 40px;
   animation: AX2 17.5s alternate-reverse ease-in-out infinite;
   animation: AY1 7s alternate-reverse ease-out infinite;
   background:linear-gradient(to right, rgba(246, 126, 125, 0.75), rgba(186, 101, 146, 0.75), rgba(246, 126, 125, 0.75));
}
.barContainer div:nth-child(3) {
   z-index: -3;
   top: 120px;
   animation: AX2 20s alternate ease-in-out infinite;
   animation: AY2 9s linear infinite;
   background:linear-gradient(to right, rgba(186, 101, 146, 0.75), rgba(176, 129, 162, 0.75), rgba(186, 101, 146, 0.75));
}
.barContainer div:nth-child(4) {
   z-index: -3;
   top: 20px;
   animation: AX1 22.5s alternate-reverse ease infinite;
   animation: AY2 6s alternate-reverse infinite;
   background:linear-gradient(to right, rgba(176, 129, 162, 0.75), rgba(152, 112, 204, 0.75), rgba(176, 129, 162, 0.75));
}

.purple {
   line-height: 1.5;
   background: rgba(164, 108, 172, 0.589);
}

.wine {
   background: rgba(196, 82, 143, 0.521);
}

.coral {
   background: rgba(246, 125, 125, 0.568);
}

.orange {
   background: rgba(231, 138, 91, 0.568);
}





/* Media Queries */




@media (max-width: 1245px){
.barContainer div {
      height: 130px;
}
.barContainer {
   height: 260px;
   width: 400%;
}

.barContainer div:nth-child(1) {
   z-index: -1;
   top: 80px;
   animation: BX2 20s alternate ease infinite;
   animation: BY1 9s linear infinite;
   background: linear-gradient(to right, rgba(231, 137, 91, 0.75), rgba(246, 126, 125, 0.75), rgba(231, 137, 91, 0.75));
}
.barContainer div:nth-child(2) {
   z-index: -2;
   top: 40px;
   animation: BX1 22s linear infinite;
   animation: BY2 8s alternate-reverse ease infinite;
   background:linear-gradient(to right, rgba(246, 126, 125, 0.75), rgba(186, 101, 146, 0.75), rgba(246, 126, 125, 0.75));
}
.barContainer div:nth-child(3) {
   z-index: -3;
   top: 120px;
   animation: BX2 10s alternate ease-in infinite;
   animation: BY1 7.5s linear infinite;
   background:linear-gradient(to right, rgba(186, 101, 146, 0.75), rgba(176, 129, 162, 0.75), rgba(186, 101, 146, 0.75));
}
.barContainer div:nth-child(4) {
   z-index: -4;
   animation: BX1 20s alternate-reverse ease-out infinite;
   animation: BY2 5s alternate ease-in-out infinite;
   background:linear-gradient(to right, rgba(176, 129, 162, 0.75), rgba(152, 112, 204, 0.75), rgba(176, 129, 162, 0.75));
}

}


@media (max-width: 764px){
   .barContainer div {
      height: 160px;
   }
   .barContainer {
      height: 360px;
   }
   .barContainer div:nth-child(1) {
      z-index: -2;
      top: 40px;
      animation: CX2 20s alternate ease-in infinite;
      animation: CY2 10s ease-in infinite;   
      background: linear-gradient(to right, rgba(231, 137, 91, 0.75), rgba(182, 66, 66, 0.75), rgba(231, 137, 91, 0.75));
   }
   .barContainer div:nth-child(2) {
      z-index: -1;
      top: 120px;
      animation: CX1 20s ease-out infinite;
      animation: CY1 7.5s alternate-reverse ease-in-out infinite;   
      background:linear-gradient(to right, rgba(246, 126, 125, 0.75), rgba(121, 66, 95, 0.75), rgba(246, 126, 125, 0.75));
   }
   .barContainer div:nth-child(3) {
      z-index: -3;
      top: 180px;
      animation: CX2 20s alternate-reverse ease-in infinite;
      animation: CY2 9s alternate-reverse infinite;   
      background:linear-gradient(to right, rgba(186, 101, 146, 0.75), rgba(119, 67, 103, 0.75), rgba(186, 101, 146, 0.75));
   }
   .barContainer div:nth-child(4) {
      z-index: -4;
      top: 220;
      animation: CX1 20s alternate ease-out infinite;
      animation: CY1 6s ease-in infinite;   
      background:linear-gradient(to right, rgba(176, 129, 162, 0.75), rgba(68, 40, 105, 0.75), rgba(176, 129, 162, 0.75));
   }
}





/* Animations */


@keyframes AX1 {
   0% {transform: translateX(2500px);}
   25% {transform: translateX(7500px);}
   75% {transform: translateX(-10000px);}
   100% {transform: translateX(2500px);}}
@keyframes AY1 {
   0% {transform: translateY(0);}
   25% {transform: translateY(100px);}
   75% {transform: translateY(-100px);}
   100% {transform: translateY(0);}}
@keyframes AX2 {
   0% {transform: translateX(7500px);}
   25% {transform: translateX(2500px);}
   75% {transform: translateX(-10000px);}
   100% {transform: translateX(7500px);}}   
@keyframes AY2 {
   0% {transform: translateY(0);}
   25% {transform: translateY(-50px);}
   50% {transform: translateY(150px);}
   75% {transform: translateY(-100px);}
   100% {transform: translateY(0);}}


@keyframes BX1 {
   0% {transform: translateX(2446px);}
   25% {transform: translateX(-2446px);}
   75% {transform: translateX(4892px);}
   100% {transform: translateX(-2446px);}}
@keyframes BY1 {
   0% {transform: translateY(0);}
   25% {transform: translateY(100px);}
   50% {transform: translateY(-150px);}
   75% {transform: translateY(50px);}
   100% {transform: translateY(0);}}
@keyframes BX2 {
   0% {transform: translateX(3913.6px);}
   25% {transform: translateX(978.4);}   
   75% {transform: translateX(-4892px);}
   100% {transform: translateX(3913.6px);}}   
@keyframes BY2 {
   0% {transform: translateY(0);}
   25% {transform: translateY(-100px);}
   50% {transform: translateY(50%);}
   75% {transform: translateY(200px);}
   100% {transform: translateY(-100px);}}


@keyframes CX1 {
   0% {transform: translateX(1488px);}
   25% {transform: translateX(1488px);}
   75% {transform: translateX(-2976px);}
   100% {transform: translateX(1488px);}}   
@keyframes CY1 {
   0% {transform: translateY(50px);}
   25% {transform: translateY(50px);}
   50% {transform: translateY(-300px);}
   75% {transform: translateY(200px);}
   100% {transform: translateY(50px);}}
@keyframes CX2 {
   0% {transform: translateX(892.8px);}
   25% {transform: translateX(-892.8px);}
   75% {transform: translateX(2976px);}
   100% {transform: translateX(-2083.2px);}}   
@keyframes CY2 {
   0% {transform: translateY(0);}
   25% {transform: translateY(150px);}
   75% {transform: translateY(-200px);}
   100% {transform: translateY(0);}}
}