body {
   padding: 0; 
   margin: 0;
}

/* Text */

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   font-size: 100px;
   left: 30px;
   position: relative;
   padding: 0;
   margin: 40px 0 0 0;
   line-height: 100px;
   letter-spacing: 10px;
   text-align: center;
}
h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   letter-spacing: 7.5px;
   text-align: center;
   line-height: 20px;
}
h3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 25px;
   letter-spacing: 2px;
   margin: 0 10%;
}
h4 {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-style: italic;
   letter-spacing: 1px;

}
p {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   letter-spacing: .75px;
}

/* Bars */

.barContainer {
   height: 180px;
   position: absolute;
   z-index: -1;
   display: flex;
   width: 100vw;
   overflow: hidden;
   flex-direction: column;
   top: 20px;
}
.barContainer div {
   position: relative;
   height: 60px;
   z-index: -4;
   width: 400%;
   margin: 0;
}

.barContainer div:nth-child(1) {
   z-index: -1;
   background: linear-gradient(to right, rgba(231, 137, 91, 0.75), rgba(246, 126, 125, 0.75));
}
.barContainer div:nth-child(2) {
   z-index: -1;
   background:linear-gradient(to right, rgba(246, 126, 125, 0.75), rgba(186, 101, 146, 0.75));
}
.barContainer div:nth-child(3) {
   z-index: -4;
   background:linear-gradient(to right, rgba(186, 101, 146, 0.75), rgba(176, 129, 162, 0.75));
}
.barContainer div:nth-child(4) {
   z-index: -5;
   background:linear-gradient(to right, rgba(176, 129, 162, 0.75), rgba(152, 112, 204, 0.75));
}

/* Media Queries */

@media (max-width: 1290px){
.barContainer div {
   height: 130px;
}
}

@media (max-width: 750px){

}

/* Animations */

@keyframes movingBoxes {
   0% {

   }

   20% {

   }

   40% {

   }

   60% {

   }

   80% {

   }

   100% {

   }
}